<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/app.js"></script>
    </head>
    <body>
        {{>header}}
       
        <div class="top-container">
            <div class="testimonial">
                <h1 class="testimonial__name">Ko Aung Gyi</h1>
                
                <img class="myprofile" src="img/koaung.jpg" alt="">
                <p class="job">Front-end Developer</p>
                <p class="testimonial__quote">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Adipisci voluptates doloribus,
                     amet, voluptatibus ex eligendi nesciunt, debitis
                     
                </p>
            </div>
            <div class="testimonial">
                <h1 class="testimonial__name">Ko Aung Lin</h1>
                <div class="image">
                    <img class="myprofile" src="img/koaung.jpg" alt="">
                </div>
                
                <p class="job">Front-end Developer</p>
                <p class="testimonial__quote">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Adipisci voluptates doloribus,
                     amet, voluptatibus ex eligendi nesciunt, debitis
                </p>
            </div>
            <div class="testimonial">
                <h1 class="testimonial__name">Ko Aung Lin</h1>
                
                <img class="myprofile" src="img/koaung.jpg" alt="">
                <p class="job">Front-end Developer</p>
                <p class="testimonial__quote">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Adipisci voluptates doloribus,
                     amet, voluptatibus ex eligendi nesciunt, debitis
                </p>
            </div>
        </div>

        <div class="container">
            <div class="content-sidebar">
                <div class="content">
                    <h2>
                        sidebar with position sticky :) =>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                         amet, voluptatibus ex eligendi nesciunt, debitis
                        
                    </p>
                    <h2>
                        sidebar with position sticky :)  =>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                         amet, voluptatibus ex eligendi nesciunt, debitis
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                         amet, voluptatibus ex eligendi nesciunt, debitis
                    </p>
                    <h2>
                        sidebar with position sticky :)  =>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                         amet, voluptatibus ex eligendi nesciunt, debitis
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                         amet, voluptatibus ex eligendi nesciunt, debitis
                    </p>
                
                    <h2>
                        sidebar with position sticky :)  =>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                         amet, voluptatibus ex eligendi nesciunt, debitis
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                         amet, voluptatibus ex eligendi nesciunt, debitis
                    </p>
                    
                </div>
                <div class="sidebar">
                    <h3>flex item with position sticky</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <h1 class="testimonial__name">Ko Aung Lin</h1>
            
            <img class="myprofile" src="img/koaung.jpg" alt="">
            <p class="job">Front-end Developer</p>
            <p class="testimonial__quote">
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Adipisci voluptates doloribus,
                 amet, voluptatibus ex eligendi nesciunt, debitis
            </p>
        </div>
       {{>footer}}
    </body>
</html>