
        {{>header}}
       
        <div class="top-container">
            <div class="testimonial">
                
                <h1 class="testimonial__name"><a href="/bohemium">bohemium</a></h1>
            
                <img class="myprofile" src="img/black-and-white.jpg" alt="">
                <p class="job">Front-end Developer</p>
                <p class="testimonial__quote">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Adipisci voluptates doloribus,
                     amet, voluptatibus ex eligendi nesciunt, debitis
                     
                </p>
                
            </div>
           
            <div class="testimonial">
                <h1 class="testimonial__name">mr a</h1>
                <div class="image">
                    <img class="myprofile" src="img/black-and-white.jpg" alt="">
                </div>
                
                <p class="job">Front-end Developer</p>
                <p class="testimonial__quote">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Adipisci voluptates doloribus,
                     amet, voluptatibus ex eligendi nesciunt, debitis
                </p>
            </div>
            <div class="testimonial">
                <h1 class="testimonial__name">mra</h1>
                
                <img class="myprofile" src="img/black-and-white.jpg" alt="">
                <p class="job">Front-end Developer</p>
                <p class="testimonial__quote">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Adipisci voluptates doloribus,
                     amet, voluptatibus ex eligendi nesciunt, debitis
                </p>
            </div>
             
        </div>
        <a href="/buttons">Buttons >></a>

        <div class="container">
            <div class="content-sidebar">
                <div class="primary-content">
                    <h2>
                       Animate on Scroll
                    </h2>
                    <div class="banner"></div>
                  
                   
                   
                    
                </div>
                <div class="sidebar">
                    <h3>flex item with position sticky</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Adipisci voluptates doloribus,
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial">
            <h1 class="testimonial__name">mra</h1>
            
            <img class="myprofile" src="img/black-and-white.jpg" alt="">
            <p class="job">Front-end Developer</p>
            <p class="testimonial__quote">
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Adipisci voluptates doloribus,
                 amet, voluptatibus ex eligendi nesciunt, debitis
            </p>
        </div>
         <div class="testimonial">
            <h1 class="testimonial__name">mra</h1>
            
            <img class="myprofile" src="img/black-and-white.jpg" alt="">
            <p class="job">Front-end Developer</p>
            <p class="testimonial__quote">
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Adipisci voluptates doloribus,
                 amet, voluptatibus ex eligendi nesciunt, debitis
            </p>
        </div>
        <div class="content">
            <div class="content-box">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, molestias sunt? Consequatur corrupti natus soluta id delectus facilis nostrum. Dignissimos autem cumque illo necessitatibus hic voluptatum dolor, ab deleniti! Doloremque!

            </div>
            <div class="theend">The End</div>
        </div>
       {{>footer}}
    </body>
</html>