 {{>header}}
       
    <button onclick="myfun()" class="reset-animation">Reply the animation</button>

    <div class="mask-container">
    <div class="color-image"></div>
    <img src="img/bw-image.jpg" alt="">
    </div>
   
</body>
</html>