<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/scrollani/style.css">
      
        <link rel="stylesheet" href="css/buttons.css">
        <script src="js/app.js" defer></script>
    </head>
    <body>
<div class="nav-bar">
    <nav class="nav">
    <a href="/">Home</a>
    <a href="/buttons">Buttons Designs</a>
    <a href="/about">About</a>
    <a href="/contact">Content Us</a>
    <a href="/help">Help</a>
    <a href="/mask">mask</a>
    
    </nav>
    
</div>