<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="css/cards/calidou.css">
   
</head>

<body>
    <main>
        <div class="card">
            <div class="welcome">
                <div>
                    <h1>Hi George</h1>
                    <p>You can contact us whenever you need help or just curious about something!</p>
                </div>
               
            </div>
            <div class="start-chatting">
                <h2>Start Chatting</h2>

                <div>
                    <img src="https://i.pravatar.cc/300" alt="">
                    <p class="name">Essie Walton</p>
                    <div class="status" data-status="active">Active</div>
                </div>
              <button class="button">Send a message</button>
            </div>
        </div>
    </main>
</body>

</html>