
:root{
    --testimonial-bg-color :hwb(221 52.2% 24.3% / 0.7);
    --button-color:black;
}


body{
    padding: 0;
    background-color: rgb(183, 211, 210);
}

h1,h2,h3{
    margin: 0;
    padding: 0 20px 0 20px;
}

img{
    max-width: 15rem;
    aspect-ratio: 1 / 1;
}

.nav-bar{
    width: 50%;
    padding: 2rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.container{
    /* width: 50%; */
    border-radius: 12px;
    padding: 2rem;
}
.top-container
{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.testimonial{
    --padding:2rem; 
    padding: var(--padding);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--testimonial-bg-color);
    border-radius: 5px;
}


.testimonial__name{
    position: absolute;
    top: 0;
    left: var(--padding);
}


.testimonial__quote{
    position: relative;
}
.testimonial__quote::before
{
content: open-quote;
font-size: 5rem;
font-family: serif;

position: absolute;
left: -2rem;
top: -2rem; 
}
.testimonial__quote::after{
    content: close-quote;
    font-size: 0rem;
}

.myprofile{
    width: 8rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}


.content-sidebar{
    display: flex;
    align-items: flex-start;
}
.primary-content{
    padding: 5em;
}

.sidebar{
    position: sticky;
    top: 0;
    background-color: var(--testimonial-bg-color);
    border-radius: 10px;
   
    
}


.image{
    width: auto;
    height: auto;
    padding: 20px;
}




@media (max-width : 750px) {
    .top-container{
        flex-direction: column;
    }
    body{
        background-color: rgb(181, 202, 201);
    }
    .primary-content{
        padding: .5em;
    }
}

@media (max-width : 350px) {

    body{
        background-color: rgb(150, 186, 184);
    }

    .top-container{
        flex-direction: column;
    }
    .primary-content{
        padding: 0;
    }
}
