
:root{
    --testimonial-bg-color :hwb(221 52.2% 24.3% / 0.7);
    --button-color:black;
}


body{
    background-color: rgb(183, 211, 210);
    margin: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    margin: 0;
    padding: 0 20px 0 20px;
}

img{
    max-width: 15rem;
    aspect-ratio: 1 / 1;
}

.nav-bar{
    background-color: rgb(244, 240, 240);
    width: 100%;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    z-index: 1;
    box-shadow: 0 0 0.7rem rgb(109, 109, 130);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.container{
    /* width: 50%; */
    border-radius: 12px;
    padding: 2rem;
}
.top-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
}
.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--testimonial-bg-color);
    border-radius: 5px;
}

.content{
    max-width: 60ch;
    margin: 3rem 5rem 30vh;
}

.content-box{
    background-color: white;
    padding: 2rem;
}

.theend{
    position: sticky;
    z-index: -1;
    bottom:10rem;
    background: orange;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 0.5rem rgb(0, 0, 1);
    font-weight: bold;
    text-align: center;
}

.testimonial__name{
    position: sticky;
    top: 0;
    left: var(--padding);
}


.testimonial__quote{
    position: relative;
    width: 50ch;
}
.testimonial__quote::before
{
content: open-quote;
font-size: 5rem;
font-family: serif;

position: absolute;
left: -2rem;
top: -2rem; 
}
.testimonial__quote::after{
    content: close-quote;
    font-size: 0rem;
}

.myprofile{
    width: 8rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}


.content-sidebar{
    display: flex;
    align-items: flex-start;
}
.primary-content{
    padding: 0 10em 0 .5rem;
    flex: 1;
}

.sidebar{
    position: sticky;
    top: 4rem;
    background-color: var(--testimonial-bg-color);
    border-radius: 10px;
    width: 10rem;
    
}


.image{
    width: auto;
    height: auto;
    padding: 20px;
}




@media (max-width : 750px) {
    .top-container{
        flex-direction: column;
    }
    body{
        background-color: rgb(181, 202, 201);
    }
    .primary-content{
        padding: .5em;
    }
}

@media (max-width : 350px) {

    body{
        background-color: rgb(150, 186, 184);
    }

    .top-container{
        flex-direction: column;
    }
    .primary-content{
        padding: 0;
    }
}
