 <!DOCTYPE html>

<html>
    <head>       
        <link rel="stylesheet" href="css/themes/bohemium/style.css">
    </head>

    <body>
        <main>
        <h1 class="main_header">Lorem, ipsum dolor sit amet consectetur adipisicing elit</h1>
        <img src="img/koaungpf.jpg" alt="">
        <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat tempora sutuer,
             nihil voluptate distinctio nemo ratione est iusto corporis recusandae omnis 
            excepturi inventore iure reprehenderit blanditiis assumenda dolore, accusamus officia?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat tempora sunt,
             nihil voluptate distinctio nemo ratione est iusto corporis recusandae omnis 
            excepturi inventore iure reprehenderit blanditiis assumenda dolore, accusamus officia?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat tempora sunt,
             nihil voluptate distinctio nemo ratione est iusto corporis recusandae omnis 
            excepturi inventore iure reprehenderit blanditiis assumenda dolore, accusamus officia?
        </div>
        <h2 class="sub_header">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>

        <h3 class="sub_title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ullam necessitatibus a esse </h3>

        <img src="img/gnl-5.jpg" alt="">
        </main>
    </body>
</html>